{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "85",
        },
      },
    ],
    "@babel/preset-react",
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-optional-chaining",
  ],
}
